.example-code {
  font-family: monospace;
}
.example-code > p {
  margin: 0 0 0 2%;
}

#code-submission-panel > * {
  display: block;
}

#file-area > div {
  margin: 10px;
}

#file-area > div > * {
  display: block;
  margin: 5px;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

.prettyprint {
  overflow-x: scroll;
}
